<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chy.db.data.generator.mapper.StudentMapper">

    <insert id="batchInsert">
        INSERT IGNORE INTO t_student (`name`, `tel`, `address`, `birthday`) values
        <foreach collection="records" item="student" separator=",">
            (#{student.name}, #{student.tel}, #{student.address}, #{student.birthday})
        </foreach>
    </insert>

    <delete id="truncateTable">
        TRUNCATE TABLE t_student
    </delete>

</mapper>
