<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chy.db.data.generator.mapper.UserMapper">

    <insert id="batchInsert">
        INSERT IGNORE INTO t_user
        (`username`, `tel`, `email`, `address`, `birthday`)
        VALUES
        <foreach collection="records" item="user" separator=",">
            (#{user.username}, #{user.tel}, #{user.email}, #{user.address}, #{user.birthday})
        </foreach>
    </insert>

    <delete id="truncateTable">
        TRUNCATE TABLE t_user
    </delete>

</mapper>
